name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install Cython==0.29.33 buildozer

      - name: Build with Buildozer
        run: |
          # Ин фармон худкор ҳамаи иҷозатҳоро қабул мекунад
          yes | buildozer android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Magoza-POS-Binary
          path: bin/*.apk
